body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}